@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap");

body {
  background-color: black;
}

img {
  position: absolute;
  width: 100%;
  height: 85vh;
  object-fit: cover;
  top: 3rem;
}

.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
}

.flexnav {
  position: fixed;
}

/* .navbar.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} */

.first,
.last,
.flex h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

&::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Adjust the alpha (last) value for transparency */
  z-index: 1; /* Place the overlay above the image */
}

.text {
  position: relative;
  color: #fff;
  z-index: 2;
  text-align: center;
  margin-top: 18%;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2rem;
}

.text h1 {
  font-weight: 100;
}

.firstpara {
  position: relative;
  color: #fff;
  margin-top: 22%;
  text-align: center;
  z-index: 2;
  margin-left: 16%;
  margin-right: 16%;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.2rem;
}

.firstpara h1 {
  font-weight: 100;
}

.insta {
  font-size: 3rem;
  margin-bottom: 10rem;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.middlee {
  /* text-align: center; */
  /* width: 100%; */
  margin-top: -5rem;
}

.middlee h1 {
  color: #fff;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 100;
  font-size: 1.4rem;
}

.middlee a {
  text-decoration: none;
  color: #fff;
}

.middlee a:hover,
.middlee a:visited:hover {
  color: inherit; /* Use the color from the parent element for hover and visited hover */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 801px) {
  img {
    margin-top: -3rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  img {
    top: 0;
    height: 70vh;
  }

  .text {
    margin-top: 50%;
    font-size: 1rem;
  }

  .middle {
    /* position: absolute; */
    top: 0;

    /* margin-top: -14.5rem; */
  }

  .middlee {
    margin-top: 2rem;
    text-align: left;
  }

  .firstpara {
    margin-top: 40vh;
    font-size: 0.8rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .insta {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  img {
    top: 0;
    height: 80vh;
  }

  .text {
    margin-top: 40%;
    font-size: 2rem;
  }

  .middlee {
    margin-top: 2rem;
    text-align: left;
  }

  .firstpara {
    margin-top: 30vh;
    font-size: 0.8rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .insta {
    font-size: 2rem;
  }
}
